.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-control {
    display: block;
    width: 100%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}